# CUSTOM .GITIGNORE FILE BASED ON github/gitignore TEMPLATES

# Original .gitignore templates obtained from: https://github.com/github/gitignore
# This custom .gitignore file has been modified from the original .gitignore templates.

# Original .gitignore templates licensed under the MIT license:

# 		Copyright (c) 2015 GitHub, Inc.

# 		Permission is hereby granted,  free of charge,  to any person obtaining a
# 		copy of this software and associated documentation files (the "Software"),
# 		to deal in the Software without restriction, including without limitation
# 		the rights to  use, copy, modify, merge, publish, distribute, sublicense,
# 		and/or sell copies of the Software, and to permit persons to whom the
# 		Software is furnished to do so, subject to the following conditions:

# 		The above copyright notice and this permission notice shall be included in
# 		all copies or substantial portions of the Software.

# 		THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# 		IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# 		FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# 		AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# 		LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# 		FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# 		DEALINGS IN THE SOFTWARE.



# Java #
##################################

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Maven #
##################################

target

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


# Gradle #
##################################

.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache


# Node #
##################################

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
node

# Bower components directory
bower_components

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history


# SASS #
##################################

.sass-cache/
*.css.map




######################################################
## Global/System Specific Ignore Patterns ##
######################################################


# JetBrains #
##################################

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


# Eclipse #
##################################

*.pydevproject
.metadata
*.bak
*.swp
*~.nib
local.properties
.settings
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans


# NetBeans #
##################################

nbproject/private/
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/


# TortoiseGit #
##################################
# Project-level settings
/.tgitconfig


# Miscellaneous #
##################################
build/
dist/
tmp/
bin
*.roo
*.tmp
*.zip
*.DS_Store
